HOLIDAY_URL=<your-url>
VACATION_URL=<your-url>
HVV_URL=<your-url>
GEOFOX_URL=<your-url>
POLLEN_URL=<your-url>
WEATHER_URL=<your-url>
WEATHER_LATITUDE=<latitude-as-float>
WEATHER_LONGITUDE=<longitude-as-float>
WEATHER_TIMEZONE=<Continent/City>