attrs==25.3.0
bdfparser==2.2.0
cache-requests==4.0.0
cattrs==25.1.1
certifi==2025.11.12
charset-normalizer==3.4.2
dacite==1.9.2
flatbuffers==25.2.10
greenlet==3.3.0
h11==0.16.0
idna==3.10
jh2==5.0.9
libsixel-python==0.5.0
niquests==3.14.1
numpy==2.3.1
openmeteo-requests==1.5.0
openmeteo-sdk==1.20.1
outcome==1.3.0.post0
pandas==2.3.1
pillow==11.3.0
pip==24.0
platformdirs==4.3.8
psutil==7.0.0
pyee==13.0.0
pygame==2.6.1
pysocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
qh3==1.5.3
redis==6.2.0
redislite==6.2.912183
requests==2.32.4
requests-cache==1.2.1
retry-requests==2.0.0
rgbmatrixemulator==0.13.3
selenium==4.39.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
tk==0.1.0
tornado==6.5.1
trio==0.32.0
trio-websocket==0.12.2
typing-extensions==4.15.0
tzdata==2025.2
url-normalize==2.2.1
urllib3==2.5.0
urllib3-future==2.13.900
wassima==1.2.2
websocket-client==1.9.0
wsproto==1.3.2
